{% extends 'baseAssets/baseRequired.html' %}

{% block bodyContent-noOffSet %}
{% load widget_tweaks %}
<section class="container-fluid vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 text-center">
                            <h2 class="text-uppercase text-center mb-5">Password reset complete</h2>
                            <p class="text-center text-success h6">Your password has been set. You may go ahead and log in now.</p>
                            <a href="{% url 'user-login' %}" class="btn btn-primary mt-2 py-1 px-5">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock bodyContent-noOffSet %}