{% extends 'baseAssets/baseRequired.html' %}

{% block bodyContent-noOffSet %}
{% load widget_tweaks %}
<section class="container-fluid vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Forgot Password</h2>
                            <p class="text-center text-primary h6">Enter new password</p>
                            <div class="col my-3">
                                {% for messages in messages %}
                                {% if messages %}
                                <p class="alert alert-{{ messages.tags }} ">{{ messages }} </p>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="col mt-4">
                                    {% render_field form.new_password1 class="form-control" placeholder="New Password" type="password" %}
                                </div>
                                <div class="col mt-4">
                                    {% render_field form.new_password2 class="form-control" placeholder="Confirm Password" type="password" %}
                                </div>
                                <div class="col text-center mt-4">   
                                    <button type="submit" class="btn btn-primary py-1 px-4">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock bodyContent-noOffSet %}