{% extends 'baseAssets/baseRequired.html' %}


{% block navcontent %}
<style>
    body {
        background-color: aliceblue;
    }
</style>
{% include 'baseAssets/navBar.html' %}



{% endblock navcontent %}

{% block bodyContent-noOffSet %}
<div class="container mt-5">
    <h1 class="text-center text-capitalize">Top headlines from <span class="text-primary">TechCrunch right now</span>
    </h1>
    <div class="row">
        <div class="col row mt-5">
            {% for i in articles %}
            <div class="col-md-6 mt-4">
                <a href="{{ i.url }}
                ">
                    <div class="card border-0 shadow p-3 h-100">
                        <div class="col"
                            style="background-image: url('{{ i.urlToImage }}');min-height: 400px;max-height: 400px;background-size: cover;background-position: center;">

                        </div>
                        <div class="mt-3">
                            <h4>{{ i.title }}</h4>
                            <p style="font-size:16px">{{ i.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock bodyContent-noOffSet %}